<div id="login" class="row" *ngIf="isLoading && !isActionEnds">
  <div class="col-md-12 text-center">
    <img [src]="'/assets/images/logo.png'" alt="SSLCommerz" style="margin-bottom: 15px; max-width: 140px;">
    <p style="margin-bottom: 15px; font-weight: 400; font-size: 14px;">Please wait! we are checking this URL</p>
    <mat-progress-bar mode="indeterminate" style="height: 1.5px;"></mat-progress-bar>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="tryReset()" #resetForm="ngForm" *ngIf="!isLoading && !isActionEnds">
  <div id="login" class="row">
    <div class="col-md-12 text-center" [formGroupName]="'PasswordGroup'">
      <!--<p *ngIf="message" class="text-center error">{{message}}</p>-->
      <img [src]="'/assets/images/logo.png'" alt="SSLCommerz" style="margin-bottom: 15px; max-width: 140px;">
      <p style="margin-bottom: 15px; font-weight: 400; font-size: 14px;" class="text-center">Please update/reset your <span class="text_dark">Password</span></p>
      <div class="input_with_button">
        <input type="password" [formControlName]="'new_password'" class="form-control" id="new_password" [(ngModel)]="reset.new_password"
               placeholder="New Password" name="new_password" #new_password required minlength="8">
        <password-strength-meter [password]="reset.new_password" [enableFeedback]="true" [minPasswordLength]="8" (strengthChange)="checkStrength($event)"></password-strength-meter>
      </div>
      <input type="password" [formControlName]="'confirm_password'" class="form-control keyup_fuction"
             id="confirm_password" placeholder="Confirm New Password" #confirm_password name="confirm_password" minlength="8" required>

    </div>
  </div>
  <div id="pay_button" class="row">
    <button type="submit" class="btn" [disabled]="!isBtnActive"
            [ngClass]="isBtnActive ? 'btn_full_width_active' : 'btn_full_width_disable'">
      Reset
      <img [src]="'assets/images/right-arrow.png'" alt="">
    </button>
  </div>
</form>

<div id="transaction_success" class="row" *ngIf="isActionEnds && actionType === 'success'">
  <div class="col-md-12 text-center" style="padding-top: 30px; padding-bottom: 30px;">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <style type="text/css">
                .tran_sucs{fill:#27b245;}
                </style>
                  <g>
                    <g>
                      <path class="tran_sucs" d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172    L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259    c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227    c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554    c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z     M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47    C281.638,399.11,270.06,411.018,256.498,411.018z" fill="#D80027"/>
                    </g>
                  </g>
                </svg>
    <h2 class="mb-5">Password Changed!</h2>
    <p class="txt_green">Your password has been successfully set to your given one. Use your given password from next time you login to pay</p>
  </div>
</div>
<div id="transaction_danger" class="row" *ngIf="isActionEnds && actionType === 'fail'">
  <div class="col-md-12 text-center" style="padding-top: 30px; padding-bottom: 30px;">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <path class="tran_danger" d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172    L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259    c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227    c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554    c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z     M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47    C281.638,399.11,270.06,411.018,256.498,411.018z" fill="#D80027"/>
                    </g>
                  </g>
                </svg>
    <h2 class="mb-5">Unable to change!</h2>
    <p class="txt_danger">{{ actionMessage !== '' ? actionMessage : 'Sorry! Something happened, try resetting again'}}</p>
  </div>
</div>
