<div class="help_section" style="display: block;">
  <div class="col-md-12">
    <p class="text-center">{{ "alltime" | translate }}</p>
    <div class="card_area">
      <a target="_blank" href="https://fb.com/sslcommerz">
        <div class="service_icon">
          <img [src]="'assets/images/messenger-icon.png'" alt="">
        </div>
        <span>{{ "messenger_live_chat" | translate }}</span>
      </a>
      <a target="_blank" href="mailto:info@sslcommerz.com">
        <div class="service_icon">
          <img [src]="'assets/images/email-icon.png'" alt="">
        </div>
        <span>{{ "email_us" | translate }}</span>
      </a>
      <a target="_blank" href="tel:16444">
        <div class="service_icon">
          <img [src]="'assets/images/support-icon.png'" alt="">
        </div>
        <span>{{ "customer_representative" | translate }} 16444</span>
      </a>
    </div>
  </div>
</div>
