.mat-tab-labels {
  text-transform: uppercase;
}
::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

.help_section .faq_area h4 a {
  font-weight: 600 !important;
  font-size: 13px !important;
}
.help_section p {
  font-size: 12px !important;
}
