<ng-container class="component-container">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="#"><img width="160" [src]="'../assets/checkout_assets/img/logo.png'" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="terms">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Easy Checkout: Terms & Conditions</h1>
        <h2 class="masthead-subheading text-dark mb-0">Please read carefully (Last Updated: April 2019)</h2>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section class="pt-4 pb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="pt-4">
            <h4>1. Account Verification</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="">
            <p class="text-secondary">Click <span class="font-weight-bold">"Remember me"</span> to securely store your
              credit card info for faster checkout on this and other sites that use Easy Checkout.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="pt-4">
            <h4>2. One-Click Payments</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="">
            <p class="text-secondary">On this computer, when you come back to <span class="font-weight-bold">EASY CHECKOUT</span>
              or to any other participating site, your credit card info will already be filled in: just click <span
                class="font-weight-bold">Pay</span> to confirm your purchase.</p>
            <p class="text-secondary">You can edit the card number if you need to. Easy Checkout will store the one you
              used most recently.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="pt-4">
            <h4><span>3.</span> Authentication</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="">
            <p class="text-secondary">Your credit card is linked to your <span
              class="font-weight-bold">email address</span> and your <span
              class="font-weight-bold">mobile phone number.</span></p>
            <p class="text-secondary">To pay with Easy Checkout on a different computer, or after you log out, just
              enter your email address during checkout and Easy Checkout will instantly send you a text message to
              verify your identity.</p>
            <p class="text-secondary">Message and data rates may apply. Frequency of messages depends on user. For help,
              reply back with HELP. To stop, reply back with <span class="font-weight-bold">STOP.</span></p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="">
            <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
              also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
              1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="text-secondary">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
              a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
              Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
              consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
              discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
              Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
              on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
              dolor sit amet..", comes from a line in section 1.10.32.</p>
            <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution of letters, as opposed to using 'Content here, content here', making it look like
              readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
              default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
              Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour
              and the like).</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="m-0 text-center text-dark small">Copyright &copy; Easy-Checkout 2019</p>
        </div>
        <div class="col-sm-6">
          <p class="m-0 text-center text-dark small">Powred By <a href="#"><img width="100" [src]="'../assets/checkout_assets/img/logo.png'"
                                                                                alt=""></a></p>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>
</ng-container>
